body{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(donald-images/About-banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;

}
.content h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    color: rgb(6, 56, 6);
}

.second{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(238, 235, 231);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.second img{
    height: auto;
    width: 40%;
    margin-right: 50px;    
    border: 1px;
}
.text{
    width: 40%;
    border: 1px;
    margin-left: 50px;    
}
.text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.text p{
    color: rgb(88, 87, 87) ;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 25px;

}
.third{
    background-image: url("donald-images/Talk-to-us.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;

}
.third h1{
    font-size: 50px;
}
.third p{
    font-size: 20px;
    color: rgb(79, 79, 80);
}
button{
    width: 20%;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: rgb(63, 146, 63);
    transition: 0.5s ease-in-out ;
}
button:hover{
    color: rgba(13, 44, 26, 0.726);
    border: none;
    
    }
    .footer1 {
        align-items: center;
        justify-content: space-around;
        display: flex;
        text-decoration: none;
    
      }
      .footer1 a{
        text-decoration: none;
        margin: 5px;
    
      }