@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
    background-image: url("../img/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    /* @apply text-center  */
   
}  
.logo12{
    color: #74a84a;
    fill: aliceblue;

}

.headstore{
    @apply m-auto
}
.flex{
    display: flex;
}
div{
    padding: 40px;
}
body::-webkit-scrollbar{
    display: none;
}
.main{
    @apply mt-24 bg-fixed w-[100%] space-y-5
    
}
.what{
   font-weight: bolder;
   font-size: x-large;
   font: bolder;
}
.imgwhat{
    border-radius: 50%;
}
.div2{
    background-image: url(../img/Call-to-action.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply h-screen justify-center
}
button{
    background-color: #74a84a;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 3px;
    @apply py-[15px] px-[15px] text-[0.94117647058824rem] w-auto inline-block text-center box-border
}
 .poster {
    font-weight: lighter;
 }
.footer{
    display: inline;
    position: fixed;
    padding: 20px;
}

.footer1{
    @apply flex items-center justify-around
}

.payment-note{
    @apply flex items-center justify-center
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar ul li a:hover{
    color: rgba(0, 255, 106, 0.726);
}