@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply m-0 p-0 font-roboto bg-[#fefefe]
}

.product-list{
    @apply max-w-[350px] min-w-[200px] max-sm:min-w-[100%] max-md:min-w-[50%]
}

.p-inner-1{
    @apply text-gray-400 mt-2 font-jost text-sm
}

.p-inner-2{
    @apply font-jost text-[1em] font-semibold mt-2
}

.p-inner-3{
    @apply mt-2 font-bold text-gray-500
}

.select:focus{
    @apply outline-none border border-dotted border-[#74a84a]
}

.contact-section{
    @apply w-[42%] p-3
}

.h-line{
    line-height: 1.3em;
}

h1,h2,h3,h4,h5,h6{
    font-family: Jost;    
    font-weight: 500;
    clear: both;
}

.form-input-div{
    @apply w-[90%] m-auto border border-[#d9d9d9]
}

.form-input{
    @apply w-[100%] select px-2 py-[15px] text-lg placeholder:text-[#a3a3a3]
}

textarea{
    @apply h-20
}
button{
    line-height: 1em;
    letter-spacing: 3px;
    @apply py-[15px] px-[20px] text-[0.94117647058824rem] w-auto inline-block text-center box-border uppercase font-[400] text-white bg-[#74a84a] hover:bg-[#202e15] duration-200 rounded-none hover:text-white
}